@media screen and (min-width: 428px) and (max-width: 1024px) {
    /* Tablettes */

}
@media screen and (min-width: 1024px) {
/* Desktop */

.fa-search {
    display:none;
}

}

@media screen and (max-width: 427px) {
    /* Mobile */

    body {
        width:auto;
        padding:0px;
        margin:0;
        font-weight:light;
    }


    .barrerecherche {
        margin-left:5px;
        margin-right:5px;
        
    }

    .searchword {
        display:none;
    }

    .fa-search {
        color: white;
    }

    .searchbtn {
        width:50px;
        height:50px;
        border-radius:15px;
    }

    .filtersbtn {
        display:flex;
        flex-wrap:wrap;
        width:auto;
        position: absolute;
        margin-top: 100px;
        margin-left: 0px;
    }

    .filters {
        width:auto;
    }

    .filters h2 {
        padding-left:10px;
    }

    .links {
        width:auto;
        display:flex;
        justify-content:space-between;
        align-items:center;
        float:none;
        margin-left:0px;
        padding:0px;
        clear: both;
    }

    .intro {
        width:auto;
        font-size:1.2em;
        padding-left:20px;
        padding-right:20px;
        margin-top: -10px;
    }

    .listelogements {
        margin-top: 130px;
    }
    .intro h1 {
        font-size:1.5em;
    }

    header {
        width:auto;
    }
.inscription {
    
    float:right;
}

  .link_active {
    border-top: none;
    border-bottom: solid #0065fc;
    width:auto;
    padding:0;
    text-align:center;
    width:100%;
  }

  .activitieslink {
      padding:0;
      text-align:center;
      border-bottom:solid #f2f2f2;
      width:100%;
  }

  .listelogements {
      margin-top:500px;
  }

  .popular {
      display:flex;
      flex-direction:column;
      position:absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius:0px;
    margin-top: -480px;

  }

  .popularcolumn {
    margin-left: auto;
    margin-right: auto;
  }

  .popularblock {
      width: 350px;
  }

  .cityblock {
    position: absolute;
    margin-top: 130px;
    background-color:white;
    width:auto;
  }

  .locationlineone {
      display:flex;
    flex-direction: column;
    width:auto;
  }

  .locationlinetwo {
    display:flex;
    flex-direction: column;
    width:auto;
    padding-top:0px;
  }

  .locationblock {
      width: 365px;
      margin:0px;
      margin-bottom:10px;
  }

  .locationblock img {
      width: 350px;
  }
  .infos {
    margin-top: 210px;
    padding-left: 10px;
  }

  .activities {
      margin-top:2050px;

  }

  .activcolonnes {
    display: flex;
    flex-direction:column;
    width:350px;
    margin-left:auto;
    margin-right:auto;
  }

  .minactivities, .mainactivity, .frioul,
  .pomegues, .act1 {
      margin-bottom:15px;
  }

  .activities img {
      width: 350px;
      height: 100px;
  }

  .minactivity img {
    width: 280px;
    height: 100px;
  }

  .footerlinks {
      display:flex;
      flex-direction:column;
  }

  .apropos, .noshebergements, .assistance {
      margin-bottom:20px;
  }
}